* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header, .intro, .info, .quote, .signup {
    padding-left: 20%;
    padding-right: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
}

.intro {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.intro-left p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.intro-left button {
    width: 80px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border-color: #3882f6;
}

.intro-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-left h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.intro img {
    height: 200px;
    width: 200px;
    display: flex;
    flex: 1 0;
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-boxes {
    display: flex;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 70px;

}

.info-boxes img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #3882f6;
}

.box {
    display: flex;
    flex: 0 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1F2937;
    font-size: 12px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quote p {
    margin: 0;
}

#quotetop {
    display: flex;
    justify-content: center;
}

#quotebottom{
    display: flex;
    flex: 1 0;
    justify-content: end;
    width: 100%;
}

.signup {
    padding-top: 40px;
    padding-bottom: 40px;
}

.signupcontainer {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    display: flex;
}

#signupleft {
    display: flex;
    flex-direction: column;
    flex: 3 1;
}

#signupleft p {
    margin: 0;
}

#signupright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}

#signupright button {
    font-weight: bold;
    width: 80px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 6px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: #e5e7eb;
}